body {
  background-color: darkgray;
  margin: 5%;
}
body h1 {
  font-size: 5rem;
}
body h2 {
  font-size: 3rem;
}

.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 0;
  animation: caer 3s linear infinite;
}

@keyframes caer {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
